body {
  background: #f5f5f5;
}

.todo-title {
  color: rgba(175, 47, 47, 0.15);
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-weight: 100;
}

.todo-container {
  background: #fff;
  border: green;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.task {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
  padding: 15px 15px 15px 60px;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.task-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bfbdbd;
}

.task button {
  background: none;
  border-radius: 5px;
  margin: 0px 5px;
  padding: 3px 5px;
  border: none;
  cursor: pointer;
  float: right;
}

.completed-task {
  border-radius: 50%;
}

.remaining-tasks {
  margin: 0.7em;
  font-size: 1em;
  text-align: left;
}

.create-task input[type=text] {
  font-style: italic;
  font-weight: 300;
  color: #4d4d4d;
  margin: 2.5em 1em;
  width: 90%;
  outline: none;
  border: none;
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bfbdbd;
}

.remove-task {
  color: #cc9a9a;
  background-color: inherit;
  font-weight: 100;
  border: none;
  font-size: 30px;
  width: 40px;
  height: 40px;
  transition: color 0.2s ease-out;
}

:focus {
  outline: 0;
}

INPUT[type=checkbox]:focus {
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

INPUT[type=checkbox] {
  background-color: #DDD;
  content: "";
  margin-right: 25px;
  margin-left: 15px;
  border-radius: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  top: 7px;
  font-size: 140%;

}

INPUT[type=checkbox]:checked {
  background-color: green;
  background: green url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
}